<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container mt-5">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Registrar Persona</h1>
                <form id="formularioRegistrar" action="/registrarPersonas" method="POST"
                    onsubmit="return confirmarImportacion()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dni">DNI:</label>
                            <input type="text" class="form-control" name="dni" id="dni" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="edad">Edad:</label>
                            <input type="number" class="form-control" name="edad" id="edad" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="correo">Correo:</label>
                            <input type="email" class="form-control" name="correo" id="correo" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
            <div class="col-md-6">
                <h1>Importar Personas</h1>
                <form id="formularioImportar" enctype="multipart/form-data" action="/crearPersonas" method="POST"
                    onsubmit="return confirmarImportacion()">
                    <div class="form-group">
                        <label for="archivoJSON">Selecciona un archivo JSON:</label>
                        <input type="file" class="form-control-file" name="archivoJSON" id="archivoJSON" accept=".json"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Importar</button>
                </form>
            </div>
        </div>
        <div class="container mt-5">
            <h1>Lista de Personas</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <% personas.forEach(persona=> { %>
                        <tr>
                            <td>
                                <%= persona.nombre %>
                            </td>
                            <td>
                                <%= persona.dni %>
                            </td>
                            <td>
                                <%= persona.edad %>
                            </td>
                            <td>
                                <%= persona.correo %>
                            </td>
                            <td>
                                <form action="/eliminarPersona/<%= persona._id %>" method="POST"
                                    onsubmit="return confirmarEliminar('<%= persona.nombre %>')">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <script>
            function confirmarImportacion() {
                const confirmacion = confirm("¿Deseas importar los datos del archivo JSON?");
                return confirmacion;
            }
        </script>
        <script>
            function confirmarEliminar(nombrePersona) {
                const confirmacion = confirm(`¿Deseas eliminar el registro de ${nombrePersona}?`);
                return confirmacion;
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</body>
</html>