<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Personas</title>
</head>

<body>
  <h1>Agregar Nueva Persona</h1>
  <form action="/agregar" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required><br>

    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" required><br>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required><br>

    <label for="altura">Altura:</label>
    <input type="text" id="altura" name="altura" required><br>

    <label for="peso">Peso:</label>
    <input type="text" id="peso" name="peso" required><br>

    <button type="submit">Agregar Persona</button>
  </form>

  <h2>Listado de Personas</h2>
  <ul>
    <% personas.forEach(persona=> { %>
      <li>
        Nombre: <%= persona.nombre %>, DNI: <%= persona.dni %>, Edad: <%= persona.edad %> años, Correo: <%=
                persona.correo %>, Altura: <%= persona.altura %>, Peso: <%= persona.peso %>
      </li>
      <% }) %>
  </ul>
</body>

</html>